body{
	background-color: rgb(40,25,18);
	background-repeat: no-repeat;
	border: 0;
	padding: 0;
	margin: 0;
}

.bg{
	z-index:0;
	position: relative;
}
.content-bg{
	z-index:0;
	position: absolute;
	left:537px; 
	top:186px; 
	
}

.feature-bg{
	z-index:0;
	position: absolute;
	left:45px; 
	top:50px;
}
p{
	color: rgb(77,75,74);
}
.table-pic{
	z-index:0;
	position: absolute;
	left:305px; 
	top:85px;
}
.td-pic{
	padding:  10px 200px 10px 0px;
	color: rgb(0,51,148);
	font-size: 25pt;
}
.table-text{
	z-index:0;
	position: absolute;
	left:305px; 
	top:85px;
}
.td-text{
	padding:  25px 50px 25px 70px;
	color: rgb(0,51,148);
	font-size: 20pt;
	font-style:initial;
}
.icon-about1{
	z-index:1;
	position: absolute;
	left: 980px; 
	top:100px;
}
.icon-work2{
	z-index:1;
	position: absolute;
	left:1080px; 
	top:100px;
}
.icon-social4{
	z-index:1;
	position: absolute;
	left:1180px; 
	top:100px;
}
.icon-contact3{
	z-index:1;
	position: absolute;
	left:1280px; 
	top:100px;
}


.nav-underline-about{
	z-index:1;
	position: absolute;
	left:980px; 
	top:102px;
}
.nav-underline-work{
	z-index:1;
	position: absolute;
	left:1080px; 
	top:102px;
}
.nav-underline-social{
	z-index:1;
	position: absolute;
	left:1180px; 
	top:102px;
}
.nav-underline-contact{
	z-index:1;
	position: absolute;
	left:1280px; 
	top:102px;
}


.copyright-notice{
	z-index: 1;
	position: absolute;
	left:880px; 
	top:580px;
	color: white;
	font-style: Verdana;
	font-size: 13px;
	opacity: 0.5;
}
.icon-twitter{
	z-index:0;
	position: absolute;
	left:51px; 
	top:10px;
}